.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.img{
    width: 250px;
    height: 300px;
    margin-top: 50px;
}
.textoFrase{
    font-size: italic;
    color: #dd7b22;
    text-align: center;
}